$titleColor: #f2f2f2;
$btnBg: #e84e7a;

.button {
    padding: 5px 10px;
    width: 90%;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 700;

    border: 40px solid #161130;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    transition: all 0.4s;
    cursor: pointer;
    opacity: 0;
    outline: none;
    &:focus {
        transform: scale(0.92);
    }
}

.movieList {
    list-style: none;
    display: flex;
    width: 80vw;
    // height: 50vh;
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar {
        height: 20px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px #02020272;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #211943;
        border-radius: 20px;
        transition: all 1s;
        &:hover {
            background-color: rgba(58, 46, 116, 0.671);
        }
    }
    .movie__item {
        color: $titleColor;
        font-weight: 100;
        text-align: left;
        padding: 10px;
        align-self: baseline;
        opacity: 0.6;
        transition: transform 1s;
        width: 180px;
        margin-right: 20px;
        backface-visibility: hidden;
        & .placeholder {
            position: relative;
            width: 180px;
        }

        & .movie__poster {
            margin-bottom: 10px;
            max-width: 180px;
            object-fit: contain;
            border-radius: 5px;
            box-shadow: 2px 9px 9px 1px rgba(7, 7, 7, 0.501);
        }
        & .movie__rating {
            position: absolute;
            top: 1%;
            left: 3%;
            font-size: 16px;
            background-color: #000;
            padding: 5px;
            border-radius: 5px;
            font-weight: 500;
            width: fit-content;
        }

        & .movie__title {
            font-size: 16px;
            margin-top: 0;
        }
        & .movie__genre {
            font-size: 13px;
            font-weight: 600;
        }
        & .movie__overview {
            font-size: 10px;
            display: none;
        }
        &:hover {
            opacity: 1;
            transform: scale(1.05);

            .button {
                display: flex;
                opacity: 1;
                animation: moveInBottom 0.4s ease-out;
                backface-visibility: hidden;
                background-color: $btnBg;
            }
        }
    }
}

// Animations
@keyframes movieInBottom {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
